/*google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
/*font-family: 'Lato', sans-serif;*/
body{
  font-family: 'Lato', sans-serif;
}

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
a, a:hover, a:active, a:focus{
    text-decoration: none;
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }


.jumbotron p {
    font-size: 18px;
    padding: 0;
    margin: 0;
}
section{
    padding: 60px 0px;
}
section#header {
    padding-top: 30px;
    padding-bottom: 50px;
}
.bg-creem{
  background-color: #f1eada;
}
.color-white{
  color: #ffffff;
}
.color-orenge{
  color: #fe6828;
}
.brawon-btn{
  outline: none;
  padding: 0.8em 0;
  text-align: center;
  font-size: 1.2em;
  margin-top: 1em;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  background: #280f0a;
  box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
  font-weight: 600;
}
.para-text{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}
.color-dark-gray{
  color: #717171;
}
.context-head {
    color: #324B73;
}

.content-info p {
    font-size: 18px;
    padding: 0px;
    margin: 0 0px 11px;
}
.content-info ul {
    padding: 0px;
    margin: 0;
    margin-left: 25px;
    font-size: 16px;
}

/*
.box-context {
    margin-bottom: 70px;
    height: 550px;
}
*/
.content-info h3{
    font-weight: 600;
    font-size: 20px;
}
.context-img img {
    height: 220px;
    width: 100%;
}

.content-info ul li {
    margin-bottom: 10px;
}

section#footer {
    padding: 50px 0px;
}
/*--------------------*/
/* MENU */
/*--------------------*/

#mu-hero .navbar-default {
    background-color: #656057;
    border-color: #171717;
    padding: 5px 0;
}

.mu-navbar {
    /*top: -150px;*/
    top: 0px;
    transition: all 0.5s;
}

.mu-nav-show {
    top: 0px;
}

#mu-hero .navbar-default .navbar-brand {
    padding: 15px 15px;
    font-size: 28px;
    line-height: 20px;
    color: #fff;
}

.mu-navbar .mu-menu li a {
    color: #FFFFFF;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
}
/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-hero {
    /*background-image: url("../img/singapore-166544.jpg");*/
    background-color: #f1eada;
    display: inline;
    float: left;
    width: 100%;
    background-position: top center;
    background-attachment: fixed;
    background-size: 100%;
    padding: 150px 0px 100px;
    background-repeat: no-repeat;
}

.mu-hero-overlay {
    display: inline;
    float: left;
    opacity: 0.94;
    width: 100%;
}

.mu-menu-btn {
    position: fixed;
    right: 15%;
    top: 50px;
    color: #fff;
    font-size: 25px;
    border: 2px solid #fff;
    padding: 5px 14px;
    z-index: 999;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.mu-menu-btn:hover,
.mu-menu-btn:focus {
    border: 2px solid #fff;
}
.mu-hero-featured-content{
    text-align: center;
    /*border: 12px solid #18a7e2;*/
    /*padding: 55px;*/
    /*background: #ff5f1c;*/
}
.mu-hero-featured-content h1{
    color: #ff5f1c;
    font-size: 40px;
    text-transform: uppercase;
    margin: 30px 0px 0px;   
}
#footer{
    /*background: #171717; */
    background-color: #444a50;
    border-top: 5px solid #fe6828;
}
#footer .jumbotron{
    background: transparent; 
    padding: 0px;
}
.foot-text h4{
    color: #fff; 
    text-transform: uppercase; 
    margin-bottom: 28px;
}
.foot-text h5{
    color: #fff; 
    font-size: 18px;
}
.foot-text p{
    color: #fff; 
    font-size: 16px;
}
#bottom-strip{
    background-color: #444a50;
   /* background-color: #134da2;*/
    padding: 15px 0px; 
    border-top: 1px solid #ffffff;
}
#bottom-strip p{
    text-align: center; 
    color: #fff;  
    font-size: 15px;
    margin: 0px;
}
#bottom-strip p a{
    color: #18a7e2;
}
.foot-text ul{
    margin: 0px; 
    padding: 0px;
}
.foot-text ul li{
    list-style-type: none; 
    float: left;
    margin-right: 9px;
}
/*.foot-text ul li a{
    color: #171717;
    display: inline-block; 
    font-size: 20px; 
    margin-right: 9px;
    background-color:  #fff; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 40px; 
    transition: all 0.2s linear 0s; 
    -webkit-transition: all 0.2s linear 0s; 
    -moz-transition: all 0.2s linear 0s; 
    -ms-transition: all 0.2s linear 0s; 
    -o-transition: all 0.2s linear 0s;
}*/
.foot-text ul li:last-child a{
    margin: 0px;
}
.pd-l80{
    padding-left: 80px;
}
.tour-package{
    padding: 60px 0px;
}
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff2;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, 
.hvr-radial-out:focus, 
.hvr-radial-out:active {
  color: #171717;
}
.hvr-radial-out:hover:before, 
.hvr-radial-out:focus:before, 
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.section-title{
    font-size: 33px;
    margin-bottom: 50px;
    color: #280f0a;
}
.package-box{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    border: 1px solid #E8E8E8;
    margin-bottom: 30px;
}
.content-info{padding: 20px;}
.content-info ul li{
    list-style-type: square;
    color: #000;
}
.content-info ul li span{color: #000;}
.package-box{
    position: relative;
    height: 100%;
    min-height: 720px;
}
.package-box .btn-info{
    color: #fff;
    background-color: #171717;
    border-color: #171717;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 600;
    left: 0;
    border-radius: 0px;
    padding: 15px;
    text-transform: uppercase;
}
.package-box .btn-info:hover{
    background-color: #18a7e2;
    color: #171717;
     border-color: #18a7e2;
}
#book-now{padding: 60px;}
.form-control{border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; height: 35px; border-color: #171717;}
.form-control:focus, .form-control:hover, .form-control:active{box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; border-color: #18a7e2; }
.btn-success{border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; display: block; margin: 40px auto 0px; padding: 10px 45px; background-color: #18a7e2;
    border-color: #18a7e2;}
#thankyou{ width: 100%; padding: 15px; background: #5cb85c; color: #ffffff !important; margin-top: 30px;}
#thankyou h4{margin: 0px;}


.package-masonry .row {
 -moz-column-width: 21em;
 -webkit-column-width: 21em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.package-masonry .item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.package-masonry .well {
 position:relative;
 display: block;
 padding: 0px;
 border: 0px;
 border-radius: 0px;
 background: #efefef;
}
.orenge-btn{
    background: #fe6828;
    border: 0px;
    display: inline-block;
    margin-top: 0px;
    max-width: 130px;
    padding: 10px 15px;
    margin-top: 23px;
    font-family: 'Lato', sans-serif;
}
.orenge-btn:hover{
    background: #656057;
}
.orenge-logo-strip{
    /*background-color: #ffffff;*/
    background-color: #f1eada;
    padding: 20px 0px;
}
.logo-img img{
    width: 190px;
    height: auto;
}
.navigation-strip{
    /*background-color: #280f0a;*/
    /*background-color: #ff6624;*/
    background-color: #134da2;
    border-top: 5px solid #fe6828;
}
.navigation-strip .navbar{
    margin: 0px;
}
.navigation-strip .navbar-default{
    background: transparent;
    border: 0px;
}
.pd0{
    padding: 0px;
}
.navigation-strip .navbar-default .navbar-nav > li > a{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff6624;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.packges-block{
    border: 1px solid #cfcfcf;
    background-color: #FFF;
    margin-bottom: 30px;
    min-height: 241px;
}
.packeg-details-text{
    padding: 9px 5px 11px 0px;
}
.packeg-details-text h5, .packeg-details-text p{
    margin-bottom: 5px;
}
.packeg-details-text h5 a{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #ff6624;
    height: 36px;
    display: block;
    overflow: hidden;
}
.packeg-details-text p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.gray-small-text span{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #c3c3c3;
    font-weight: 600;
}
.star-rating-wrap span{
    color: #ff6624;
    cursor: pointer;
}
#pakeges-wrap, #andttr-form-wrap, #dashboard-wrap{
    background-color: #f1eada;
}
.right-blck{
    width: 65%;
    float: left;
}
.price-right-block{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.price-right-block span{
    font-size: 14px;
    font-weight: 600;
}
.price-right-block h4{
    font-size: 27px;
    color: #ff6624;
    margin-bottom: 4px;
    font-weight: 800;
}
.price-right-block a{
    color: #ffffff; 
    background: #ff6624;
    /*background-color: #134da2;*/
    padding: 5px 14px 7px;
    display: inline-block;
    margin-top: 13px;
    float: right;
}
.social-links ul{
    margin: 5px 0px 0px;
    padding: 0px;
}
.social-links ul li{
    list-style-type: none;
    float: left;
}
/*.social-links ul li a{
    width: 25px;
    height: 25px;
    background: #000;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    margin-right: 7px;
    color: #FFF;
}*/
.social-links ul li a:hover{
    background: #ff6624;
}
.packege-para{
    height: 80px;
    overflow: hidden;
}
#book-now{
  background-color: #f1eada;
}
#book-now label{
  color: #280f0a;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.form-control:focus, .form-control:hover, .form-control:active{
  border-color: #ff6624;
}
.form-group {
    margin-bottom: 19px;
}

.p_element{
  display: none;
  margin-top: 30px;
}
.pakege-active{
  display: block;
}
 

#country-box .singme {  
  background: red;
  height: auto;
  display: block;
  text-align: center;
}
#country-box .hero-grid {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  width: 100%;
  height: 313px;
  display: inline-block;
  margin-bottom: 30px;
  overflow: hidden;
}
#country-box .hero-grid-image {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  /*opacity: 0.2;*/
}

#country-box .hero-grid-content {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: left;
}

#country-box .hero-grid-content::before,
#country-box .hero-grid-content::after {
  pointer-events: none;
}
iframe #mastHead{
  display: none !important;
}
#country-box .hero-grid-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

#country-box .hero-grid-title {
  letter-spacing: -1px;
  font-weight: 800;
  margin: 0;
  padding: 0.25em 0;
  font-size: 35px;
  line-height: 1;
  font-family: Open Sans Condensed;
}

#country-box .hero-grid-title span {
  font-weight: 800;
}

#country-box .hero-tag {
  display: inline-block;
  font-size: 0.5em;
  padding: 0.5em;
  font-weight: 700;
  background: #ef6511;
  color: #ffffff;
  font-family: Open Sans Condensed;
}

#country-box .hero-grid h2,
#country-box .hero-grid p {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#country-box .hero-grid p {
  font-size: 45.5%;
  overflow: hidden;
  font-family: segoe ui;
  color: white;
}

#country-box .effect-image {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  /*opacity: 0.2;*/
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

#country-box .effect-target {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

#country-box .effect-target {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

#country-box .effect-text {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

#country-box .effect-move:hover .effect-image,
#country-box .effect-move:hover .effect-text {
  opacity: 1;
}

#country-box .effect-move:hover .effect-target,
#country-box .effect-move:hover .effect-image {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#country-box .effect-move:hover .effect-text {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.hero-grid img{
  width: 100%;
}
#country-box{
  background-color: #f1eada;
}
.breadcrumb{
  background: transparent;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.form-group{
  position: relative;
}
.icon-position{
  position: absolute;
  top: 32px;
  font-size: 16px;
  right: 11px;
  color: #baacac;
}
#form-wrap{
  background-image: url(../img/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
}
.signin-form {
  background: #fafdfd;
  padding: 3em 2em;
  text-align: center;
  width: 31%;
  margin: 30px auto;
  box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
  -moz-box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
  -ms-box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
  -o-box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
}
.profile h2 {
  text-transform: uppercase;
  color: #000;
  margin: 0.5em 0 1.5em 0;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 1px;
}
.login-form {
  margin: 1em 0 2.5em;
}
.signin-form input, 
.signin-form select, 
.signin-form textarea{
    width: 100%;
    padding: 0.8em 0.8em;
    font-size: 1em;
    margin: 1.4em 0;
    outline: none;
    color: #888;
    border: none;
    border: 1px solid #b9c0c3;
    letter-spacing: 1px;
    text-align: left;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.8em 3em;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background: #280f0a;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
    font-weight: 600;
}
.signin-form input[type="file"]{
  border: 0px;
  padding: 0px;
}
.login-logo img{
  width: 60%;
  margin: 0 auto;
}
.attractions-form{
  width: 85%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
  -moz-box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
  -ms-box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
  -o-box-shadow: 0px 0px 2px 1px rgba(37, 37, 37, 0.39);
}
.attractions-form input{
  margin: 1.4em 0;
}
.info-form label{
  margin: 1.4em 0;
  font-size: 18px
}
.small-btn{
  padding: 0.8em 3em !important;
  width: 200px !important;
}
.large-btn{
  width: 100% !important;
}
.pro-img{
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 50%;
  display: inline-table;
  margin: 0px 5px;
}
.pro-img img{
  width: 100%;
}
.yellow-btn{
  color: #ffffff;
  background: #ff6624;
  padding: 5px 14px 7px;
  display: inline-block;
  width: 100px;
  text-align: center;
}
.mr-b20{
  margin-bottom: 20px;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
  background-color: transparent;
  color: #ffffff;
}
.navbar-nav>li>a{
  padding: 10px 15px;
}
.dropdown-menu>li>a{
  padding: 8px 20px;
}
.navbar-nav>li>.dropdown-menu{
  padding: 0;
}
.dropdown-menu>li>a:hover{
  background-color: #134da2;
  color: #ffffff;
}
.visa-form-wrap{
  background-color: #ffffff; 
  border: 1px solid #f76625;
}
.visa-form-wrap h4{
  background-color: #f76625;
  margin: 0px;
  line-height: 50px;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  padding: 0px 15px;
  position: relative;
}
/*.visa-form-wrap h4:after{
  position: absolute;
  content: "";
  background: url("../img/visa-icon.png") no-repeat center;
  background-size: 100%;
  width: 50px;
  height: 46px;
  right: 10px;
  top: 0px;
}*/
.cuntry-box{
  padding: 20px;
}
.cuntry-box label{

}
.cuntry-box p, .cuntry-box label{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #8c8c8c;
  font-weight: 600; 
}
.cuntry-box p{
  margin-bottom: 20px;
}
.cuntry-box p span{
  font-size: 20px;
  color: #000000;
}
.box-max-widht.col-sm-offset-3{
  margin-left: 29%;
}
.visa-popup .modal-header{
  padding: 0px;
}
.visa-popup .modal-footer .orenge-btn{
  margin-top: 0px;
}
.visa-popup .form-group{
  margin-bottom: 25px;
}
.visa-popup .modal-body{
  padding: 35px 15px;
}
.contact-right-block h5{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 5px;
}
.contact-right-block p{
  display: table;
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 14px;
}
.contact-right-block p span{
  display: table-cell;
}
.contact-right-block p span:first-child{
  width: 260px;
  font-weight: 600;
}
#contact-wrap h3{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
.foot-social-icon .foot-text ul li a{
  color: #ffffff;
  width: 35px;
  height: 35px;
  overflow: hidden;
  display: inline-block;
}
.mr-t0{margin-top: 0px;}
/*.foot-social-icon .foot-text ul li:nth-child(1) a{
  background-color: #3b5998;
}
.foot-social-icon .foot-text ul li:nth-child(2) a{
  background-color: #30a0f2;
}
.foot-social-icon .foot-text ul li:nth-child(3) a{
  background: rgb(102,88,200);
background: -moz-linear-gradient(-45deg, rgb(102,88,200) 3%, rgb(212,54,143) 26%, rgb(251,195,96) 79%);
background: -webkit-linear-gradient(-45deg, rgb(102,88,200) 3%,rgb(212,54,143) 26%,rgb(251,195,96) 79%);
background: linear-gradient(135deg, rgb(102,88,200) 3%,rgb(212,54,143) 26%,rgb(251,195,96) 79%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6658c8', endColorstr='#fbc360',GradientType=1 );
}
.foot-social-icon .foot-text ul li:nth-child(3) a:hover{
  background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgb(255,255,255) 1%, rgb(255,255,255) 100%);
background: -webkit-linear-gradient(top, rgb(255,255,255) 1%,rgb(255,255,255) 100%);
background: linear-gradient(to bottom, rgb(255,255,255) 1%,rgb(255,255,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.foot-social-icon .foot-text ul li:nth-child(4) a{
  background-color: #f60002;
}
.foot-social-icon .foot-text ul li:nth-child(5) a{
  background-color: #2277b6;
}
.foot-social-icon .foot-text ul li a:hover{
  background-color: #ffffff;
  color: #000000;
}*/
.voucher-box{
  background-color: #ffffff;
  padding: 10px 10px 20px;
  box-shadow: 0 1px 3px 0 #b9b7b7;
  margin-bottom: 30px;
}
.voucher-img{
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.voucher-info h5{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 600;
  width : 100%;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
}
.voucher-info p{
  margin: 0px;
}
.voucher-info p em{
  font-size: 14px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  color: #b1b1b1;
  font-style: normal;
  display: block;
  margin: 9px auto 20px;
  text-align: center;
}
.voucher-info .orenge-btn{
  padding: 5px 10px;
  margin-top: 0px;
}
.voucher-info .pull-right{
  font-size: 27px;
  font-weight: 600;
  line-height: 26px;
}
#vouchers-modal .modal-header{
  background-color: #f76829;
  color: #ffffff;
}
.foot-totle-amt h5{
  line-height: 30px;
  font-size: 22px;
  text-align: left;
  color: #f76829;
  line-height: 36px;
  margin: 0px;
}
.small-text{
  font-size: 12px;
}
.Voucher-para{
  font-size: 15px;
  color: #000000;
  width: 100%;
  margin: 20px auto 50px;
}
#home-banner img{
  width: 100%;
  height: auto;
}
.services-box h4{
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0px;
}
.services-box{
  text-align: center;
}
.services-box a{
  padding: 5px 10px;
  color: #ffffff;
  margin: 10px 0px 0px;
}
.country-block{
  position: relative;
  cursor: pointer;
}
.country-block img{
  width: 100%;
  height: auto;
}
.title-overlap{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.title-overlap h5 a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.policy-content p{
  text-align: justify;
}
.policy-content a{
  display: block;
  color: #ffffff;
  font-size: 15px;
  margin-top: 15px;
  text-transform: uppercase;
}
.policy-content a:hover{
  color: #f76829;
}
.policy-content h5{
  font-size: 21px;
  margin: 23px 0 8px;
}
.traval-wrap iframe img{
  display: none !important;
}

/*According Css Start */
.payment-box .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #f76829;
}
.payment-box .panel-body{
  background-color: #ffffff;
  padding: 30px 15px 31px;
}
.payment-box .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #ffffff;
  background-color: #f76829;
  border-color: #134da2;
}
.payment-box .panel-title {
  font-size: 14px;
}
.payment-box .panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
}
.payment-box .more-less {
  float: right;
  color: #ffffff;
  font-size: 12px;
}
/*According Css End */
.total-amt{
  padding: 64px 15px;
  background-color: #ececec;
}
.total-amt h5{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #a9a9a9;
  text-transform: uppercase;
}
.total-amt h4{
  font-size: 37px;
  font-family: 'Lato', sans-serif; 
}
#booking-details-wrap .attractions-form{ 
  width: 100%;
}
.nav-tabs>li>a{
  border-bottom: 2px solid transparent;
  border: 0px;
  color: #000000;
  padding: 17px 13px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
  background-color: transparent;
  border: 0px;
  color: #fe6828;
  border-bottom: 2px solid #fe6828;
}
.nav-tabs li a h5{
  margin-bottom: 0px;
}
.nav-tabs>li>a:hover{
  background-color: transparent;
  border: 0px;
}














































 
.mr-t20{
  margin-top: 20px;
}
.mr-t30{
  margin-top: 30px;
} 
.mr0{
  margin: 0px;
}
.mr-b50{
  margin-bottom: 50px;
}
.pd-l70{
  padding-left: 70px;
}
.pd-l80{
  padding-left: 80px;
}
.color-black
{
  color: #000;
}
.foot-text ul li a img{
  width: 30px !important;
  height: 30px !important;
}
.place-img a img{
  width: 230px !important;
  height: 241px!important;
}
.place-img img{
  width: 230px !important;
  height: 241px !important;
}
.countryimage
{
  width: 250px;
  height: 198px;
}


/*Responsive media query Start*/
@media (max-width: 767px) {
  section{padding: 30px 0px;}
  .attractions-form{width: 100%; padding: 15px;}
  .section-title{font-size: 23px; margin-bottom: 20px;}
  .dashboard-table table{margin: 0px;}
  .dashboard-table table th, .dashboard-table table td{font-size: 12px; padding: 6px 8px;}
  .dashboard-table .orenge-btn{font-size: 11px; padding: 6px;}
  .logo-img img{width: 124px;}
  .orenge-logo-strip{padding: 10px 0px;}
  .navbar-toggle{padding: 5px 3px;}
  .navigation-strip{border-top: 2px solid #fe6828;}
  .navbar{min-height: 100%;}
  .navbar-default .navbar-toggle{border-color: #fff}
  .navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
  .navbar-default .navbar-toggle:focus, 
  .navbar-default .navbar-toggle:hover{background-color: transparent;}
  .foot-text h4{margin-bottom: 10px; font-size: 15px;}
  .foot-text h5{font-size: 14px;}
  .foot-text h5, .foot-text p{margin-bottom: 6px;}
  section#footer{padding: 20px 0px;}
  .col-sm-4.col-md-4.pd-l70{padding-left: 15px; margin-top: 12px;}
  .policy-content a{margin-top: 0px;}
  #bottom-strip p{font-size: 12px;}
  .top-nav .container-fluid.pd0{padding: 0px 15px;}
  .navbar-nav{margin: 0px;}
  .navbar-nav>li>a{padding: 8px 5px;}
  .navigation-strip .navbar-default .navbar-nav > li > a{line-height: 23px; border-bottom: 1px solid #4e6a94;}
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color: #4e6a94;}
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{font-size: 15px; color: #ffffff;}
  .navbar-nav .open .dropdown-menu .dropdown-header, 
  .navbar-nav .open .dropdown-menu>li>a{padding: 5px 15px 5px 4px;}
  .signin-form{width: 90%; padding: 20px;}
  .profile h2{margin: 0px;}
  .login-form{margin: 1em 0 0.5em;}
  .signin-form input[type="submit"]{font-size: 13px;}
  .login-logo img{width: 33%;}

}
@media (min-width:768px) and (max-width: 991px) {
  .attractions-form{width: 100%;}
  .section-title{margin-bottom: 10px;}
  section#footer{padding: 20px 0px;}
  section {padding: 40px 0px;}
  .foot-text h4{margin-bottom: 16px;}
  .dashboard-table .orenge-btn{padding: 5px 8px;}
  table th, table td{padding: 8px 12px;}

}
@media (min-width:992px) and (max-width: 1024px) {

}
@media (min-width: 1025px) and (max-width: 1199px) {


}
@media (min-width: 1200px) {

}