<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
         if (window.localStorage.getItem('Admin_Id')>0) 
                {
                   window.location.href="dashboard.html";
                }
    </script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ambition Tours</title>

  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/responsive.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

  <script type="text/javascript" src="../assets/js/angular.min.js"></script>
  <script type="text/javascript" src="../assets/js/angular-storage.min.js"></script>
  <script type="text/javascript" src="../assets/js/app.js"></script>
  <script type="text/javascript" src="../assets/js/adminCtrl.js"></script>
</head>

<body data-ng-app="80consult" data-ng-controller="admincontroller">

  <section id="form-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-block">
            <div class="signin-form profile">
                          <h2>Log In</h2>
                          <div class="login-form">
                            <form method="post" ng-submit="adminlogin()">
                              <input type="text" name="username" ng-model="logininfo.username" placeholder="Username" required="">
                              <input type="password" name="password" ng-model="logininfo.password" placeholder="Password" required="">
                               <div class="form-group" id="alertmessage" hidden="">
                                  <label>{{alertmessage}}</label>
                                </div> 
                              <div class="tp">
                                <input type="submit" value="SIGN IN">
                              </div>
                            </form>
                          </div>  
                           <div class="login-logo">
                            <img src="../assets/img/logo.png">
                          </div>                          
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
</body>

</html>
