<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ambition Tours</title>

  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/responsive.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

  <script type="text/javascript" src="assets/js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-storage.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <script type="text/javascript" src="assets/js/contactCtrl.js"></script>
</head>

<body>
<!-- Start Header -->
       <header id="top-header">
            <div class="orenge-logo-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="logo-img">
                                <a href="index.html">
                                  <img src="assets/img/logo.jpg" class="img-responsive" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="top-nav">
                                <nav class="navbar navbar-default">
                                  <div class="container-fluid pd0">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                      <!-- <a class="navbar-brand" href="#">Brand</a> -->
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse pd0" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav">
                                        <li><a href="singapore.html" class="hvr-underline-reveal">Singapore</a></li>
                                        <li><a href="asia.html" class="hvr-underline-reveal">Asia</a></li>
                                        <li><a href="europe.html" class="hvr-underline-reveal">Europe</a></li>
                                        <li><a href="visa.html" class="hvr-underline-reveal">Visa</a></li>
                                        <li><a href="custom-tour.html" class="hvr-underline-reveal">Custom Tour</a></li>
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                                </nav>
                            </div>
                        </div >
                    </div>
                </div>
            </div>
        </header>
    <!-- End Header -->
  <div data-ng-app="80consult" data-ng-controller="contactcontroller" data-ng-init="initfunc()">
<!--
  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h3>Bonne Route Travels</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
-->


<!--
  <section id="context">
    <div class="container">
      <div class="row">
        <div class="col-md-6 box-context">
          <div class="context-head text-center">
            <h3>Book Now</h3>
          </div>

          <form class="" name="contactform"  ng-controller="contactcontroller" ng-submit="booknow()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="name" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="phoneno">Phone Number:</label>
              <input type="phoneno" class="form-control" id="phoneno">
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Travel Date</label>
              <div class="input-append date">
              <input type="date" class="span2"><span class="add-on"><i class="icon-th"></i></span>
            </div>
            <div class="form-group">
              <label for="pwd">Special Request</label>
              <div class="input-append date">
                <textarea rows="4" cols="50">

                  </textarea>
            </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
            <input type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit"/>
          </form>

        </div>

        <div class="col-md-6 box-context">

        </div>






      </div>
    </div>
  </section>
-->
<div class="clearfix"></div>
  <section id="book-now">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
           <h2 class="section-title">Custom Tour</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form name="contactform"  ng-controller="contactcontroller" ng-submit="booknow()">
             <div class="col-md-6"><div class="form-group">
              <label for="">Name :</label>
              <input type="name" class="form-control" ng-model="fullname" name="fullname" id="fullname" required>
            </div>
            <div class="form-group">
              <label for="phoneno">Phone Number:</label>
              <input type="phoneno" class="form-control" ng-model="phonenumber" name="phonenumber" id="phonenumber" required>
            </div>
            <div class="form-group">
              <label for="email">Email Address:</label>
              <input type="email" class="form-control" ng-model="email" name="email" id="email" required>
            </div>            
            <div class="form-group">
              <label for="pwd">Travel Date :</label>
              <input type="date" class="form-control" ng-model="travelDate" name="travelDate" id="travelDate" required>
            </div>
              </div>
            <div class="col-md-6">
            <div class="form-group">
              <label for="pwd">Special Request</label>
              <textarea class="form-control mb19" name="message" ng-model="message" id="message" cols="30" rows="12"></textarea>
            </div>
            </div>
              <div class="clearfix"></div>
           <!--  <input type="text" class="form-control" ng-model="packageName" name="packageName" id="packageName"> -->
             <input type="hidden" class="form-control" ng-model="packagename" value="{{packagename}}" name="packageName" id="packageName">
            <button class="btn btn-success orenge-btn" type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit">SUBMIT</button>
          </form>
          <div id="thankyou">
            <div class="thankyou">
                <div class="item">
                    <span><h4><b><font>Submitted Successfully!</font></b></h4></span>
                </div>
            </div>
        </div>
        </div>

      </div>
    </div>
      <div class="clearfix"></div>
  </section>







 <section id="footer">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm-4 col-md-4">
                        <div class="foot-text">
                            <h4>About us</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div> -->
                    <div class="col-sm-4 col-md-4 pd-l80">
                        <div class="foot-text">
                              <h4>Contact Us</h4>
                              <h5>Bonne Route Travels</h5>
                              <p>Sales & Reservation Head India</p>
                              <p>2860/5 Chuna Mandi Pahar Ganj, </p>
                              <p>New Delhi - 110055</p>
                              <p><strong>Phone :</strong> +91-9711192028 </p>
                              <p><strong>E-mail :</strong> bonneroute247@gmail.com</p>

                       </div>
                    </div>
                    <div class="col-sm-4 col-md-4 pd-l80">
                        <div class="foot-text">
                            <!-- <h4>select Hotels</h4>
                            <ul>
                                <li><a href="#" class="hvr-radial-out"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="hvr-radial-out"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="hvr-radial-out"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="hvr-radial-out"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer  id="bottom-strip">
            <p>Copyright 2017- Bonne Route Travels - All Rights Reserved</p>
        </footer>

  <script  type="text/javascript"  src="assets/js/jquery.min.js"></script>
  <script   type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script  type="text/javascript"  src="assets/js/main.js"></script>
 <script src="assets/js/custom.js"></script>

</div>
</body>

</html>
