<!DOCTYPE html>
<html lang="en">
    <head>
    
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Suzan Travels</title>
      
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">
          <link href="css/style1.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
       
        <link href="assets/css/responsive.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>


  <script type="text/javascript" src="assets/js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-storage.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <script type="text/javascript" src="assets/js/contactCtrl.js"></script>

        <link id="bsdp-css" href="bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
        
       
    </head>
    <body >
        <!-- Start Header -->



     
        <header id="top-header">
            <div class="orenge-logo-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="logo-img">
                                <a href="index.html">
                                   <!--  <img src="assets/img/logo.png" alt="" title=""> -->
                                   <h1 class="logoColor" >Suzan<span class="logoSpan">travels</span></h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
         
            
            <div class="navigation-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="top-nav">
                                <nav class="navbar navbar-default">
                                  <div class="container-fluid pd0">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                      <!-- <a class="navbar-brand" href="#">Brand</a> -->
                                    </div>


                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse pd0" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav">
                                        <li>
                                          <a href="index.html">About Us</a>
                                        </li>
                                        <!-- <li><a href="index.html" class="hvr-underline-reveal">Destinations</a></li> -->
                                       <!--  <li><a href="asia.html" class="hvr-underline-reveal">Our Services</a></li> -->
                                         <li class="dropdown">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services<span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="asia.html">Package Tours</a></li>
                                            <li><a href="custom-tour.html">Custom Tours</a></li>
                                            <li><a href="air-ticket.html">Air Ticketing</a></li>
                                            <li><a href="visa-services.html">Visa Services</a></li>
                                            <li><a href="voucher.html">Travel Gift Vouchers</a></li>
                                            <li><a href="travel-insurance.html">Travel Insurance</a></li>
                                          </ul>
                                        </li> 
                                        <li class="dropdown" ng-init="getattractioncountries()">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Destinations <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <!-- <li><a href="#">India</a></li>
                                            <li><a href="#">Malaysia</a></li>
                                            <li><a href="#">Thailand</a></li>
                                            <li><a href="#">Combodia</a></li>
                                            <li><a href="#">Hong Kong</a></li> -->
                                            <li ng-repeat="c in countrylist">
                                             <a href="travel-servic.html?country={{c.CountryId}}">{{c.CountryTitle}}</a>
                                           <!--  <a href="country-attractions.html?country={{c.CountryId}}">{{c.CountryTitle}}</a> -->
                                            </li>
                                          </ul>
                                        </li>
                                       <!--  <li><a href="europe.html" class="hvr-underline-reveal">Europe</a></li>
                                        <li><a href="visa.html" class="hvr-underline-reveal">Visa</a></li> -->
                                        <li><a href="contact-us.html" class="hvr-underline-reveal">Contact Us</a></li>
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                                </nav>
                            </div>
                        </div >
                    </div>
                </div>
            </div>
        </header>
        <!-- <div id="home-banner">
            <img src="assets/img/banner1.jpg" alt="" title="" / >
        </div> -->
       

<!-- main content -->

<section id="order-wrap" class="row cust-section ng-scope"  style="padding-top:10px;padding-bottom:25px;">

        <div class="container">
          <div class="row section-header wow fadeInUp after-none" id="orderform">
     
        <div class="col-sm-12 col-md-12 wrap-bg">
                        <div class="col-sm-7 pad-none">
                          
                    <div class="form-group" class="sm6" >
                          <div class="col-sm-10 pd0">
                                    <h3 class="form-heding">
                                      <span>Bus (23 Seater) - hourly</span>
                                      <span class="pull-right">$50.00</span>
                                    </h3>
                                  
                          
                          </div>
                       
                        <div class="col-sm-2 pd0">
                            <h3 class="form-heding"></h3>
                        </div>
                    </div>

                    <input type="hidden" ng-model="data.tourtype">
                    <input type="hidden" ng-model="data.CarType">

                    <input type="hidden" ng-model="data.CarType " value="{{cardetails.CarType}}" />
                    <input type="hidden" ng-model="data.car" value="{{carkey}}" />
                             
                    <input type="hidden" ng-model="data.bookedtype" value="{{tourtype}}" />

                    <div class="form-group" class="sm6" >
                    
                        <div class="col-sm-10 pd0" >
                                <h3 class="form-heding">Passenger Name <span style="color: red">*</span></h3>
                        </div>
                        <div class="col-sm-10 padleftZero" >
                             <textarea ng-model="data.pasname" rows="2" class="form-control" tabindex="1" required="true" autofocus>    
                              </textarea>
                        </div>
                    </div>
                    <div class="form-group" class="sm6" >
                    
                        <div class="col-sm-10 pd0" >
                                <h3 class="form-heding">Passenger Mobile No <span style="color: red">*</span></h3>
                        </div>
                        <div class="col-sm-10 padleftZero" >
                            <input type="text" class="form-control" id="phone" placeholder="88888888" ng-model="data.pasmobno" tabindex="2" >
                          </div>
                        </div>
                    
                    
                    
                    
                    <div class="form-group" class="sm6" >
                    
                        <div class="col-sm-10 pd0 " >
                                <h3 class="form-heding">Pick Location <span style="color: red">*</span></h3>
                        </div>
                        <div class="col-sm-10 padleftZero" >
                            

                             <textarea ng-model="data.picklocation" ng-blur="airportcheck(data.picklocation)" rows="2" class="form-control" tabindex="3" required="true">    
                              </textarea>
                        </div>
                    </div>
                    <div class="form-group" class="sm6" >
                    
                        <div class="col-sm-10 pd0" >
                                <h3 class="form-heding">Destination <span style="color: red">*</span></h3>
                        </div>
                        <div class="col-sm-10 padleftZero" >
                             <textarea ng-model="data.destination" rows="3" class="form-control" tabindex="4" required="true">    
                              </textarea>
                        </div>
                    </div>

                    <div class="form-group flight-hidden sm6" >
                    
                        <div class="col-sm-10 pd0" >
                                <h3 class="form-heding">Flight No.</h3>
                        </div>
                        <div class="col-sm-10" >
                            <input type="text" class="form-control" id="flightNo" placeholder="8888" ng-model="data.flightNo" tabindex="5">
                        </div>
                    </div>

                    <div class="form-group sm6">
                        <div class="col-sm-5 pd0">
                            <h3 class="form-heding">Pickup Date <span style="color: red">*</span></h3>
                        </div>
                        <div class="col-sm-4 pd0">
                            <h3 class="form-heding">Pickup Time <span style="color: red">*</span></h3>
                        </div>
                        <div class="col-sm-4 pd0" >
                       
                        <!-- <datepicker date-format="yyyy-MM-dd">
                          <input ng-model="date" placeholder="Choose a date" class="form-control" type="text"/>
                        </datepicker> -->
                        <datepicker date-format="dd-MM-yyyy" selector="form-control">
                            <div class="input-group">
                                <input ng-model="data.pickupdate" min="{{data.today | date : 'dd-MM-yyyy'}}" class="form-control" placeholder="Choose a date" required="true" tabindex="6" />
                                <span class="input-group-addon" style="cursor: pointer">
                                <i class="fa fa-lg fa-calendar"></i>
                                </span>
                            </div>
                        </datepicker>
                        <!-- <input type="text" ng-model="data.pickupdate" class="form-control date-input" required="true" min="{{today}}" value="{{today | date : 'yyyy-MM-dd'}}" > -->
                        <!-- <input type="text"  value="{{today | date : 'yyyy-MM-dd'}}"> -->
                        
                        
                        </div>
                        <div class="col-sm-3 pd0" >
                         
                         <select ng-model="data.pickuphours" placeholder="Hours" class="form-control" ng-options="hrs for hrs in [] | range:0:24" ng-change="calculate()" required="true" tabindex="6"> 
                          <option value="" selected="selected">Hours</option>
                          {{hrs}}
                         </select>
                        </div>
                        <div class="col-sm-3 pd0" >
                          <select ng-model="data.pickupminutes" class="form-control" ng-change="calculate()" placeholder="Minutes" ng-options="mts for mts in [] | minutesrange:0:60" required="true" tabindex="7"><option value="" selected="selected">Minues</option>{{mts}}</select>
                        
                        </div>
                        <!-- <div class="col-sm-2" >
                            <h3 class="form-heding">{{data.schedulecharge | currency}}</h3>
                        </div> -->
                    </div>
                      <div class="form-group" class="sm6" ng-if="tourtype=='hourly'" >
                        <div class="col-sm-10 pd0">
                            <h3 class="form-heding">No Of Hours <span style="color: red">*</span></h3>
                        </div>
                        <!-- <div class="col-sm-6 pd0" >
                                <h3 class="form-heding">Payment Type <span style="color: red">*</span></h3>
                        </div> -->
                        <div class="col-sm-10 pd0" >
                         
                            <select ng-model="data.nohours" placeholder="Hours" class="form-control" ng-options="hrs for hrs in [] | range:1:24" ng-change="calculate()" required="true" tabindex="8"><option value="" selected="selected" >No Of Hours</option>{{hrs}}</select>
                        </div>

                        <!-- <div class="col-sm-6" >
                             <select ng-model="data.paymenttype" class="form-control" tabindex="12" required="required">
                                    
                                    <option value="Credit Card">Credit Card</option>
                                    <option value="Bank Transfer">Bank Transfer(Provide Agent Id in Message)</option>
                                    <option value="Cash in Hand">Cash in Hand</option>


                          </select>
                        </div> -->
                        
                        
                    </div>


                    <div class="form-group" class="sm6" >
                    
                        <div class="col-sm-10 pd0" >
                                <h3 class="form-heding">Payment Type <span style="color: red">*</span></h3>
                        </div>
                        <div class="col-sm-10 padleftZero" >
                             <select ng-model="data.paymenttype" class="form-control" tabindex="9" required="required">
                                    
                                    <option value="Credit Card">Credit Card</option>
                                    <option value="Bank Transfer">Bank Transfer(Provide Agent Id in Message)</option>
                                    <option value="Cash in Hand">Cash in Hand</option>


                          </select>
                        </div>
                    </div>


                    
                    <div class="form-group" class="sm6" >
                    
                        <div class="col-sm-10 pd0" >
                                <h3 class="form-heding">
                                  <span>Night Charge</span>
                                  <span class="pull-right">$50.00</span>
                                </h3>
                        </div>
                        <div class="col-sm-2" >
                       <!--      <h3 class="form-heding">$50.00</h3> -->
                        </div>
                    </div>


                    <div class="form-group" class="sm6" >
                    
                        <div class="col-sm-10 pd0" >
                                <h3 class="form-heding">
                                  <span>Total</span>
                                  <span class="pull-right">$50.00</span>
                                </h3>
                        </div>
                        <div class="col-sm-2" >
                            <h3 class="form-heding"></h3>
                        </div>
                    </div>
                 
                        </div>
                       <div class="col-sm-5">
                            <div class="form-car-img">
                                <img src="assets/img/newImages/bus2.jpg" alt="" title="" class="img-responsive" />
                            </div>
                       </div>
                  </div> 
            
                 <div class="col-sm-12 col-md-12 wrap-bg">
                       
                            <div class="col-sm-6">
                            <div class="form-group">
                          <label  class="col-sm-12 control-label">Name <span style="color: red">*</span></label>
                              <input type="text" class="form-control" id="" placeholder="Name" tabindex="10" ng-model="data.ordername" required="required">
                          </div>
                      </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                          <label class="col-sm-6 control-label">Email <span style="color: red">*</span></label>
                              <input type="email" class="form-control" id="email" placeholder="Email" ng-model="data.orderemail" tabindex="11" required="required">
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="col-sm-6 control-label">Phone Number <span style="color: red">*</span></label>
                              <input type="text" class="form-control" id="phone" placeholder="88888888" ng-model="data.orderphone" tabindex="12" >
                          </div>
                      </div>
                      <div class="col-sm-6">
                            <div class="form-group">
                          <label  class="col-sm-6 control-label">Address <span style="color: red">*</span></label>
                              <input type="text" class="form-control" id="Address1" placeholder="Address1" ng-model="data.orderaddress1" tabindex="13" required="required">
                          </div>
                      </div>
                      <div class="col-sm-6">
                            <div class="form-group">
                          <label  class="col-sm-6 pd0 control-label">Address2 </label>
                              <input type="text" class="form-control" id="address2" placeholder="Address2" ng-model="data.orderaddress2" tabindex="14"  >
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label  class="col-sm-6 pd0 control-label">Postal Code <span style="color: red">*</span></label>
                              <input type="text" class="form-control" id="postalcode" placeholder="123452" ng-model="data.orderpostalcode" tabindex="15" required="required">
                          </div>
                      </div>
                      
                            <div class="col-sm-12">
                      <div class="form-group" >
                        <label  class="col-sm-12 control-label">Message</label>
                              <textarea ng-model="data.ordermessage" rows="4" class="form-control" tabindex="16">    
                              </textarea>
                                
                          </div>
                      </div>
                        
                             <div class="col-sm-12 col-md-12">
                                 <div class="terms-text">   
                         <div class="form-group" >
                       <!--  <label  class="col-sm-12 control-label2">Terms and Condition</label> -->
                          <div class="col-sm-12" style="text-align:center">
                                <input  ng-model="data.orderterms" type="checkbox" >&nbsp;&nbsp;&nbsp;<a class="control-label2" href="#test-popup" tabindex="17" class="open-popup-link">Terms and Condition </a>
                          </div>
                      </div>        
                    </div>
                      <div class="form-group" class="sm6" id="alertmessage" >
                        <div class="col-sm-12" >
                        </div>

                          <div class="col-sm-1" >
                                  <h3 align="center"></h3>
                          </div>
                          <div class="col-sm-12 pink"  >
                              <h4 align="center"></h4>
                          </div>
                      </div>
                            
                        </div>
                      <div class="form-group">
                          <div class="col-sm-12" style="text-align:center">
                              <button type="submit" class="btn btn-warning"  ng-click="order()" tabindex="18"> Order</button>
                          </div>
                      </div>
                        
                  </div>
            
            
        </div>
        </div>  
    </section>
<!-- end main content -->

         <section id="footer">
            <div class="container">
                <div class="row">
                   <!--  <div class="col-sm-4 col-md-4">
                        <div class="foot-text">
                            <h4>About us</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div> -->
                    <div class="col-md-12"><h4 class="" style="color:White">Contact Us</h4></div>
                    <div class="col-sm-4 col-md-4">
                        <div class="foot-text">
                              
                              <h5>Suzan Travels Pte. Ltd</h5>
                               <p>sales@suzantravels.com</p>     
                           
                              <p>Singapore 409051</p>

                       </div>
                    </div>
                    <div class="col-sm-4 col-md-4 pd-l80">
                    
                    <div class="foot-text">
                              
                                <p>60 Paya Lebar Road </p>
                              <p>#06-32 Paya Lebar Square, </p>

                       </div>
                    
                    </div>
                    <div class="col-sm-4 col-md-4 pd-l70" >
                         <div class="foot-text">
                              
                                <p>Fax:+65 88888888</p>
                              <p>Phone:+65 88888888</p>
                       </div>
                    </div>
                </div>
            </div>
        </section>

        <footer  id="bottom-strip">
            <p>Copyright 2017- Suzan Travels - All Rights Reserved.</p>
        </footer>
        

    <!--    <section id="form-wrap" hidden="">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-block">
            <div class="signin-form profile">
                          <h2>WelCome</h2>

                          <div class="login-form">
                            <form method="post" ng-submit="checkPassword(password)">
                              <input type="password" name="password" placeholder="Password" required="" ng-model="password">
                              <label id="alert" hidden="">Password Incorrect</label>
                              <div class="tp">
                                <input type="submit" value="ENTER" class="brawon-btn large-btn">
                              </div>
                            </form>
                          </div>   
                          <div class="login-logo">
                            <img src="../assets/img/logo.png">
                          </div>                         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->



  <!--  <section id="form-wrap" hidden="">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-block">
            <div class="signin-form profile">
                          <h2>WelCome</h2>

                          <div class="login-form">
                            <form method="post" ng-submit="checkPassword(password)">
                              <input type="password" name="password" placeholder="Password" required="" ng-model="password">
                              <label id="alert" hidden="">Password Incorrect</label>
                              <div class="tp">
                                <input type="submit" value="ENTER" class="brawon-btn large-btn">
                              </div>
                            </form>
                          </div>   
                          <div class="login-logo">
                            <img src="../assets/img/logo.png">
                          </div>                         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/star-rating.js"></script>
        <script src="assets/js/custom.js"></script>
    </body>
</html>
