<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Ambition Tours</title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="assets/css/responsive.css" rel="stylesheet">
        
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>


  <script type="text/javascript" src="assets/js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-storage.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <script type="text/javascript" src="assets/js/contactCtrl.js"></script>

        <link id="bsdp-css" href="bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    </head>
    <body data-ng-app="80consult" data-ng-controller="contactcontroller">
        <!-- Start Header -->



     
        <header id="top-header">
            <div class="orenge-logo-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="top-nav">
                                <nav class="navbar navbar-default">
                                  <div class="container-fluid pd0">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                      <!-- <a class="navbar-brand" href="#">Brand</a> -->
                                    </div>


                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse pd0" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav">
                                        <li>
                                          <a href="index.html">About Us</a>
                                        </li>
                                        <!-- <li><a href="index.html" class="hvr-underline-reveal">Destinations</a></li> -->
                                       <!--  <li><a href="asia.html" class="hvr-underline-reveal">Our Services</a></li> -->
                                         <li class="dropdown">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services<span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="asia.html">Package Tours</a></li>
                                            <li><a href="custom-tour.html">Custom Tours</a></li>
                                            <li><a href="air-ticket.html">Air Ticketing</a></li>
                                            <li><a href="visa-services.html">Visa Services</a></li>
                                            <li><a href="voucher.html">Travel Gift Vouchers</a></li>
                                            <li><a href="travel-insurance.html">Travel Insurance</a></li>
                                          </ul>
                                        </li>
                                        <li class="dropdown" ng-init="getattractioncountries()">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Destinations <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <!-- <li><a href="#">India</a></li>
                                            <li><a href="#">Malaysia</a></li>
                                            <li><a href="#">Thailand</a></li>
                                            <li><a href="#">Combodia</a></li>
                                            <li><a href="#">Hong Kong</a></li> -->
                                            <li ng-repeat="c in countrylist">
                                             <a href="country-attractions.html?country={{c.CountryId}}">{{c.CountryTitle}}</a>
                                            </li>
                                          </ul>
                                        </li>
                                       <!--  <li><a href="europe.html" class="hvr-underline-reveal">Europe</a></li>
                                        <li><a href="visa.html" class="hvr-underline-reveal">Visa</a></li> -->
                                        <li><a href="contact-us.html" class="hvr-underline-reveal">Contact Us</a></li>
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                                </nav>
                            </div>
                        </div >
                    </div>
                </div>
            </div>
        </header>
         
        <section id="policy-wrap">
          <div class="container">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
                <h2 class="section-title">Privacy Policy</h2>
              </div>
              <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
                <div class="policy-content">
                  <p class="para-text">Ambition Tours values your privacy. It is important that you have a clear understanding of our practices with regards to information collection and information usage, that you have full control of which personal information you provide to Ambition Tours.</p>
                  <h5>Information Collected</h5>
                  <p class="para-text">When making a booking through Ambition Tours, we need to collect certain details in relation to processing the transaction and fulfilling your order, including (but not limited to) the following: your name, credit card details, and contact information (email and phone).</p>
                  <p class="para-text">We also collect your name and email information from submission of your queries via our Inquiry forms.</p>
                  <p class="para-text">You agree that by disclosing your personal information to us, we may include your record in our database.</p>
                  <h5>Use and Care of Information</h5>
                  <p>Ambition Tours remains the owner of any information collected on the web site and has no intention to change this policy in the future. Use of contact information (e.g. email) is for us to send to you confirmation / related information for your booking/s such as vouchers, etc. You may also receive promotional communications from time to time.</p>
                  <p>Ambition Tours also reserves the right to disclose personal information only if required to do so by law, or by court order, or by law enforcement or governmental authorities, or in good faith belief that such disclosure is necessary to protect the rights or properties of Ambition Tours, our guests/users, or the public.</p>
                  <p>Where links are present that will result in you leaving the Ambition Tours website and being taken to third-party websites, please do note that any information that you may provide to these third-party websites are not covered by Ambition Tours privacy policy and as such we do recommend that you review their privacy and security policies.</p>
                  <h5>Data Security</h5>
                  <p>We, at Ambition Tours give the most importance to keeping your data secure at all times. Strong encryption technology to ensure the safe transmission of all credit card transactions and personal information, is implemented.</p>
                  <h5>Changes To The Policy</h5>
                  <p>Kindly note that this privacy policy may be updated every now and then. For any significant changes, a more prominent notice will be provided.</p>
                </div>
              </div>
            </div>
          </div>
        </section>


         <section id="footer">
            <div class="container">
                <div class="row">
                   <!--  <div class="col-sm-4 col-md-4">
                        <div class="foot-text">
                            <h4>About us</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div> -->
                    <div class="col-sm-4 col-md-4">
                        <div class="foot-text">
                              <h4>Contact Us</h4>
                              <h5>Ambition Tours & Travels  Pte. Ltd</h5>
                              <p>#06-67, 1 Rochor Canal Rd,</p>
                              <p>Sim Lim Square, </p>
                              <p>Singapore 188504.</p>

                       </div>
                    </div>
                    <div class="col-sm-4 col-md-4 pd-l80">
                    
                    </div>
                   <div class="col-sm-4 col-md-4 pd-l70" ng-init="getSocial()">
                        <div class="foot-social-icon">
                            <div class="foot-text">
                                <h4>Contact With Us</h4>
                                <ul>
                                    <li ng-repeat="social in sociallist">
                                        <a href="{{social.Link}}">
                                            <img src="../uploads/social/{{social.Image}}" alt="" title="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="policy-content">
                          <p>
                            <a href="privacy-policy.html">Privacy Policy</a>
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer  id="bottom-strip">
            <p>Copyright 2017- Ambition Tours - All Rights Reserved.</p>
        </footer>

       <section id="form-wrap" hidden="">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-block">
            <div class="signin-form profile">
                          <h2>WelCome</h2>

                          <div class="login-form">
                            <form method="post" ng-submit="checkPassword(password)">
                              <input type="password" name="password" placeholder="Password" required="" ng-model="password">
                              <label id="alert" hidden="">Password Incorrect</label>
                              <div class="tp">
                                <input type="submit" value="ENTER" class="brawon-btn large-btn">
                              </div>
                            </form>
                          </div>   
                          <div class="login-logo">
                            <img src="../assets/img/logo.png">
                          </div>                         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

        <section id="form-wrap" ng-style="{'display': hide=='hidden' ? 'none' : 'block'}">
    <div class="container" ng-if="!hide">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-block">
            <div class="signin-form profile">
                          <h2>WelCome</h2>

                          <div class="login-form">
                            <form method="post" ng-submit="checkPassword(password)">
                              <input type="password" name="password" placeholder="Password" required="" ng-model="password">
                              <label id="alert" hidden="">Password Incorrect</label>
                              <div class="tp">
                                <input type="submit" value="ENTER" class="brawon-btn large-btn">
                              </div>
                            </form>
                          </div>   
                          <div class="login-logo">
                            <img src="../assets/img/logo.png">
                          </div>                         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



    <section id="form-wrap" ng-style="{'display': hide=='hidden' ? 'none' : 'block'}">
    <div class="container" ng-if="!hide">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-block">
            <div class="signin-form profile">
                          <h2>WelCome</h2>

                          <div class="login-form">
                            <form method="post" ng-submit="checkPassword(password)">
                              <input type="password" name="password" placeholder="Password" required="" ng-model="password">
                              <label id="alert" hidden="">Password Incorrect</label>
                              <div class="tp">
                                <input type="submit" value="ENTER" class="brawon-btn large-btn">
                              </div>
                            </form>
                          </div>   
                          <div class="login-logo">
                            <img src="../assets/img/logo.png">
                          </div>                         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/star-rating.js"></script>
        <script src="assets/js/custom.js"></script>
    </body>
</html>
