<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ambition Tours</title>

  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

  <script type="text/javascript" src="assets/js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-storage.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <script type="text/javascript" src="assets/js/contactCtrl.js"></script>
</head>
<body data-ng-app="80consult" data-ng-controller="contactcontroller" ng-init="getTourDetails()">
<!-- Start Header -->
       
        <header id="top-header">
            <div class="orenge-logo-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="top-nav">
                                <nav class="navbar navbar-default">
                                  <div class="container-fluid pd0">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                      <!-- <a class="navbar-brand" href="#">Brand</a> -->
                                    </div>


                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse pd0" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav">
                                        <li>
                                          <a href="index.html">About Us</a>
                                        </li>
                                        <!-- <li><a href="index.html" class="hvr-underline-reveal">Destinations</a></li> -->
                                       <!--  <li><a href="asia.html" class="hvr-underline-reveal">Our Services</a></li> -->
                                         <li class="dropdown">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services<span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="asia.html">Package Tours</a></li>
                                            <li><a href="custom-tour.html">Custom Tours</a></li>
                                            <li><a href="air-ticket.html">Air Ticketing</a></li>
                                            <li><a href="visa-services.html">Visa Services</a></li>
                                            <li><a href="voucher.html">Travel Gift Vouchers</a></li>
                                            <li><a href="travel-insurance.html">Travel Insurance</a></li>
                                          </ul>
                                        </li>
                                        <li class="dropdown" ng-init="getattractioncountries()">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Destinations <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <!-- <li><a href="#">India</a></li>
                                            <li><a href="#">Malaysia</a></li>
                                            <li><a href="#">Thailand</a></li>
                                            <li><a href="#">Combodia</a></li>
                                            <li><a href="#">Hong Kong</a></li> -->
                                            <li ng-repeat="c in countrylist">
                                             <a href="country-attractions.html?country={{c.CountryId}}">{{c.CountryTitle}}</a>
                                            </li>
                                          </ul>
                                        </li>
                                       <!--  <li><a href="europe.html" class="hvr-underline-reveal">Europe</a></li>
                                        <li><a href="visa.html" class="hvr-underline-reveal">Visa</a></li> -->
                                        <li><a href="contact-us.html" class="hvr-underline-reveal">Contact Us</a></li>
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                                </nav>
                            </div>
                        </div >
                    </div>
                </div>
            </div>
        </header>
    <!-- End Header -->
  <div>
<!--
  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h3>Bonne Route Travels</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
-->


<!--
  <section id="context">
    <div class="container">
      <div class="row">
        <div class="col-md-6 box-context">
          <div class="context-head text-center">
            <h3>Book Now</h3>
          </div>

          <form class="" name="contactform"  ng-controller="contactcontroller" ng-submit="booknow()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="name" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="phoneno">Phone Number:</label>
              <input type="phoneno" class="form-control" id="phoneno">
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Travel Date</label>
              <div class="input-append date">
              <input type="date" class="span2"><span class="add-on"><i class="icon-th"></i></span>
            </div>
            <div class="form-group">
              <label for="pwd">Special Request</label>
              <div class="input-append date">
                <textarea rows="4" cols="50">

                  </textarea>
            </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
            <input type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit"/>
          </form>

        </div>

        <div class="col-md-6 box-context">

        </div>






      </div>
    </div>
  </section>
-->
<div class="clearfix"></div>
  <section id="booking-details-wrap" class="bg-creem">
    <div class="container">
       
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="attractions-form">
            <div class="col-sm-4 col-md-4">
              <div class="tour-place-img">
                <img src="../uploads/tours/{{Tour.TourImage}}" ng-if="Tour.TourType=='Tour'">
                        <img src="../uploads/attractions/{{Tour.TourImage}}" ng-if="Tour.TourType=='Attraction'">
              </div>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class=" ">
                <h4 class="color-orenge">{{Tour.TourTitle}}</h4>
                <p>
                 {{Tour.TourDescription}}
                </p>
                <p>
                  <span>
                    <strong>
                      Location:{{Tour.TourLocation}}
                    </strong>
                  </span>
                </p>
                <p>
                  <span>
                    <strong>
                      Duration: {{Tour.TourDuration}}
                    </strong>
                  </span>
                </p>
                <p>
                  <span>
                    <strong>
                      Adult Price : SGD${{Tour.TourCost}}
                    </strong>
                  </span>
                </p>
                <p>
                  <span>
                    <strong>
                      Child Price : SGD${{Tour.ChildCost}}
                    </strong>
                  </span>
                </p>
                <div class="col-sm-12 col-md-12 text-right pd0">
                  <a href="booking.html?TourId={{Tour.TourId}}"><button class="btn btn-success orenge-btn" type="submit" value="Apply">BOOK NOW</button></a>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
      <div class="clearfix"></div>
  </section>







<section id="footer">
            <div class="container">
                <div class="row">
                   <!--  <div class="col-sm-4 col-md-4">
                        <div class="foot-text">
                            <h4>About us</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div> -->
                    <div class="col-sm-4 col-md-4">
                        <div class="foot-text">
                              <h4>Contact Us</h4>
                              <h5>Ambition Tours & Travels  Pte. Ltd</h5>
                              <p>#06-67, 1 Rochor Canal Rd,</p>
                              <p>Sim Lim Square, </p>
                              <p>Singapore 188504.</p>

                       </div>
                    </div>
                    <div class="col-sm-4 col-md-4 pd-l80">
                    
                    </div>
                   <div class="col-sm-4 col-md-4 pd-l70" ng-init="getSocial()">
                        <div class="foot-social-icon">
                            <div class="foot-text">
                                <h4>Contact With Us</h4>
                                <ul>
                                    <li ng-repeat="social in sociallist">
                                        <a href="{{social.Link}}">
                                            <img src="../uploads/social/{{social.Image}}" alt="" title="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="policy-content">
                          <p>
                            <a href="privacy-policy.html">Privacy Policy</a>
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer  id="bottom-strip">
            <p>Copyright 2017- Ambition Tours - All Rights Reserved</p>
        </footer>

          <section id="form-wrap" hidden="">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-block">
            <div class="signin-form profile">
                          <h2>WelCome</h2>

                          <div class="login-form">
                            <form method="post" ng-submit="checkPassword(password)">
                              <input type="password" name="password" placeholder="Password" required="" ng-model="password">
                              <label id="alert" hidden="">Password Incorrect</label>
                              <div class="tp">
                                <input type="submit" value="ENTER" class="brawon-btn large-btn">
                              </div>
                            </form>
                          </div>   
                          <div class="login-logo">
                            <img src="../assets/img/logo.png">
                          </div>                         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script  type="text/javascript"  src="assets/js/jquery.min.js"></script>
  <script   type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script  type="text/javascript"  src="assets/js/main.js"></script>
 <script src="assets/js/custom.js"></script>

<!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
<script>
   /* $(function(){
         // Find any date inputs and override their functionality
         $('input[type="date"]').datepicker();
    });*/
</script>

</div>
</body>

</html>
